/* Dashboard.css */

.dashboard-container {
  display: flex;
  justify-content: space-between; /* Aligns the sidebar, dashboard, and right-side panel */
  padding: 2rem;
}

.sidebar {
  /* Adjust the width, padding, and margin as needed */
  width: 200px; /* Example width */
  margin-right: 2rem;
}

.main-content {
  flex-grow: 1;
  margin-right: 2rem; /* Space between main content and right-side panel */
}

.right-side-panel {
  /* Adjust the width, padding, and margin as needed */
  width: 200px; /* Example width */
}

.summary-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.summary-card {
  flex: 1;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: calc(33.333% - 2rem);
  margin-bottom: 1rem;
}

.recent-orders-section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.sales-spend-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.sales-spend-card {
  flex: 1;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: calc(33.333% - 2rem);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .summary-card, .sales-spend-card {
    min-width: 100%;
    max-width: 100%;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .sidebar, .main-content, .right-side-panel {
    width: 100%;
    margin-right: 0;
  }
}