/* Login.css */

.login-page {
  background-color: #f05f40; /* Adjust the color using HEX, RGB, or HSL to match the exact orange shade */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Ensure it takes the full width of the viewport */
  height: 100vh; /* Ensure it takes the full height of the viewport */
  overflow: hidden; /* Hide any overflow */
  margin: 0; /* No margin */
  padding: 0; /* No padding */
  flex-direction: column; 
}

.menu-master-header {
  position: absolute;
  top: 10%; /* Adjust as necessary */
  left: 10%; /* Adjust as necessary */
  color: #fff; /* White color text */
  font-size: 2rem; /* Adjust size as needed */
}

.login-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px; /* Adjust as needed */
  max-width: 350px; /* Ensure it doesn't exceed 350px */
  width: 100%; /* Take up full width on small screens */
  margin: 1rem auto; /* Center it with automatic margins, adjusted margin for all screens */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
}

.login-header {
  font-size: 1.5rem; /* Adjust to match the image */
  color: #333; /* Dark text color */
  margin-bottom: 2rem;
}

.form-label {
  display: block;
  margin-bottom: .5rem;
  color: #333; /* Dark text color */
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem; /* Slightly more padding */
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da; /* Thicker border */
  border-radius: .5rem; /* Larger border-radius */
  margin-bottom: 1rem; /* Add margin to separate the inputs */
}

.form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-check-input {
  margin-right: .5rem;
}

.form-check-label {
  color: #333;
}

.login-btn {
  background-color: #f05f40;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem; 
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}

.login-footer {
  text-align: center;
  margin-top: 2rem;
}

.login-footer a {
  color: #f05f40;
  text-decoration: none;
}

.login-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  width: 100%; /* Adjust as needed */
  max-width: 400px; /* Adjust as needed */
}

/* Responsive adjustments for smaller devices */
@media (max-width: 768px) {
  .login-container {
    width: 100%; /* On mobile, make the login container take up more of the screen */
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .login-image img {
    max-width: 100%; /* On mobile, allow the image to be as wide as the container */
  }
}

@media (min-width: 768px) {
  .login-page {
    flex-direction: row; /* Stack content horizontally on larger screens */
  }
  
  .login-container {
    margin: 2rem; /* Increase margin */
  }
}
