/* Sidebar.css */

.sidebar {
  background-color: #fff; /* White background */
  max-width: 350px;  /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.sidebar-brand {
  background-color: #f05f40; /* Adjust to match the brand color */
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.menu-section {
  padding: 20px 0;
}

.menu-section-title {
  padding: 10px 20px;
  color: #888; /* Grey text */
  text-transform: uppercase;
  font-size: 0.85em;
}

.menu-item {
  color: #555; /* Darker grey text */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-item:hover, .menu-item.active {
  background-color: #f05f40; /* Brand color for hover and active */
  color: white;
  padding-left: 30px; /* Increased padding for hover and active */
  margin-left: -20px; /* Negative margin to align with the sidebar edge */
  width: calc(100% + 20px); /* Adjust width to cover the full sidebar width */
}

.menu-item.disabled {
  color: #ccc; /* Light grey text for disabled items */
}

.menu-icon {
  margin-right: 10px;
  font-size: 1.2em; /* Icon size */
}

/* Adjust the active class styling as needed */
.active {
  background-color: #f05f40; /* Brand color for active state */
  color: white;
}

/* Optional: Add a hover effect for the logout button */
.menu-item.logout:hover {
  background-color: #f05f40; /* Brand color for hover state */
  color: white;
}

/* Separator for account section */
.account-section {
  margin-top: auto; /* Pushes the account section to the bottom */
  padding-top: 20px;
  border-top: 1px solid #eee; /* Subtle line for separation */
}

/* Style the logout button */
.logout-button {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #333; /* Adjust the color to match your design */
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f05f40; /* Adjust the hover color to match your design */
}

/* Adjust the FontAwesome icon if needed */
.fa-sign-out-alt {
  margin-right: 0.5rem;
}