.summary-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 1rem; /* Adjust as needed */
  border: none;
  transition: all 0.3s ease-in-out;
}

.summary-card.highlight {
  background-color: #f05f40;
}

.summary-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.summary-card-title {
  font-size: 1.5rem; /* Increase font size */
  color: #333; /* Adjust font color as needed */
  margin-bottom: 0.5rem;
}

.summary-card-value {
  font-size: 3rem; /* Increase font size */
  font-weight: bold;
  color: #333; /* Adjust font color as needed */
  margin-bottom: 0.5rem;
}

.summary-card-percentage {
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* Increase font size */
  margin-bottom: 0.5rem;
}

.summary-card-percentage .increase {
  color: green; /* Adjust color as needed */
}

.summary-card-percentage .decrease {
  color: red; /* Adjust color as needed */
}

.summary-card-date {
  font-size: 0.875rem; /* Adjust font size as needed */
  color: #666; /* Adjust font color as needed */
  margin-top: auto; /* Pushes the date to the bottom of the card */
}