/* PrepList.css */

.prep-list {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .prep-list .prep-items {
    margin-bottom: 1rem;
  }
  
  .prep-list .prep-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .prep-list .prep-item .prep-image {
    margin-right: 1rem;
  }
  
  .prep-list .prep-item .prep-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .prep-list .prep-item h3 {
    margin: 0;
    font-size: 1rem;
  }
  
  .prep-list .prep-item p {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
  }
  
  .prep-list button {
    width: 100%;
    background-color: #ff3e00;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .prep-list {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0;
        }

    .prep-list .prep-item .prep-image img {
        width: 40px;
        height: 40px;
    }
    }
     
  